.foundcard {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "time       time"
        "email_text email"
        "num_text   num"
        "message    message";
    font-family: sans-serif;
    border: 1px solid black;
}


.email_text {
    padding-left: 20px;
    padding-right: 20px;
    grid-area: email_text;
}

.email {
    padding-left: 20px;
    padding-right: 20px;
    grid-area: email;
}

.num_text {
    padding-left: 20px;
    padding-right: 20px;
    grid-area: num_text;
}

.num {
    padding-left: 20px;
    padding-right: 20px;
    grid-area: num;
}

.time {
    padding-left: 20px;
    padding-right: 20px;
    grid-area: time;
}

.message {
    padding-left: 20px;
    padding-right: 20px;
    grid-area: message;
}

.biginput {
    resize: none;
    width: auto;
}

.attention {
    color: red;
}


