.logo {
    grid-area: logo;
    align-self: center;
    text-align: center;
    border: 1px solid black;
}

.header {
    grid-area: header;
    align-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        ". title . ";
}

.title {
    grid-area: title;
    word-break: break-all;
}

.ok-text {
    color: forestgreen;
}

.sidebar {
    grid-area: sidebar;
    align-self: start;

    display: grid;
    grid-auto-flow: row;
    padding-top: 20px;
}

.sidebar-element {
    align-self: center;
}

.sidebar-title {
    align-self: center;
}

.main {
    padding: 10px;
    grid-area: main;
    align-self: start;
}

@media screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px auto auto auto 50px;
        grid-template-areas:
            "logo"
            "header"
            "main"
            "sidebar"
            "footer";
        font-family: sans-serif;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 220px auto;
        grid-template-rows: 100px auto;
        grid-template-areas:
            "logo       header"
            "sidebar    main  "
            "footer     footer";
        font-family: sans-serif;
        max-width: 1000px;
        margin: auto;
    }
}


