{{ define "content" }}
<b>Abgabepartner gefunden? Lösche hier deinen Eintrag.</b>

Bitte lösche nicht die Einträge von anderen.
Wir machen Backups, aber das wäre trotzdem einfach blöd.
<br><br>

<form method="post" action="/dodelete">
    <label for="email"><b>E-Mail</b></label>
    <input type="email" name="email">
    <input type="submit" value="Löschen">
</form>
{{ end }}
