{{ define "content" }}

{{ template "result" . }}
<link rel="stylesheet" href="static/found_style.css">

<h3>Füge deine eigene Anzeige hinzu</h3>

<form method="post" action="/addlisting">
<div class="foundcard">
    <p class="email_text">Email</p>
    <p class="email"><input type="email" name="email"></p>
    <p class="num_text">Anzahl Studierende</p>
    <p class="num"><input type="number" name="num_students"></p>
    <textarea class="message biginput" placeholder="Persönliche Nachricht" name="message" rows=4></textarea>
</div>
<div>
    <h3 class="attention">Achtung!</h3>
    <p>Die Daten, insbesondere die E-Mail, die du hier eingibst, werden <b>direkt</b> an die Öffentlichkeit weitergegeben,
    damit andere Studierende dich kontaktieren können. Dies hat zurfolge, dass Dritte diese Daten direkt einsehen können.</p>
    <p>Ich würde dir daher raten, hier <b>keine persönlich wichtige E-Mail-Adresse oder persönlich sensitive Informationen
        (z.B. voller Name, Telefonnummer) in der Nachricht anzugeben.</b> Stattdessen würde ich zu einer Throwaway-Email
        und höchstens Vornamen in der Nachricht raten.</p>
    <p>Ich selbst werde die Daten nicht zu anderen Zwecken verwenden als diese Website zu betreiben, aber ich kann nicht
        versichern, dass Dritte dies nicht tun werden, da sie die Möglichkeit dazu haben.</p>
    <p>Indem folgend zustimmst, dass diese Daten öffentlich einsehbar sein werden und
        uneingeschränkt von Dritten nutzbar sein können.</p>
    <p>Noch ein Hinweis: Sobald du einen Abgabepartner gefunden hast, lösche bitte deinen Eintrag. Danke :)</p>

    <label for="agree">Ich stimme zu</label>
    <input type="checkbox" name="agree">
    <br>
    <small>Hinweis: Ich habe keine Ahnung von Recht, oder ob das ganze mit der DGSVO kompatibel ist.
        Falls jemand helfen kann, kann er/sie mich gern kontaktieren.</small>
</div>
<br>
<input value="{{ .Subject }}" name="subject" hidden>
<input type="submit" value="Absenden">
</form>

{{ end }}
