{{ define "result" }}
<h3>Resultate</h3>

{{ range .FoundListings }}
<div class="foundcard">
    <small class="time">Aufgegeben am {{ .PostTime }}</small>
    <p class="email_text">Email</p>
    <p class="email"><a href="mailto:{{ .Email }}">{{ .Email }}</a></p>
    <p class="num_text">Anzahl Studierende</p>
    <p class="num">{{ .NumPeople }}</p>
    <p class="message">{{ .Message }}</p>
</div>
<br><br>
{{ end }}

{{ end }}
