{{ define "content" }}
Auf dieser Seite kannst du nach Abgabepartnern an der RWTH
im Bachelor Informatik suchen, oder dich selbst finden lassen.
<form method="get" action="/search">
<br><br>
<label for="subject"><b>Dein Fach:</b></label>
<input name="subject" id="subject">
<noscript>
    <br>
    Du hast JS ausgeschaltet, also hier die Liste akzeptierter Fächer:
    <br>
    {{ range .Subjects }}{{ . }},{{ end }}
</noscript>
<br><br>
<label for="tutorium"><b>Dein Tutorium:</b></label>
<input name="tutorium" type="number">
<br><br>
<input type="submit" value="Suchen!">
</form>

<br>
Ist dein Fach nicht dabei? <a href="https://git.rwth-aachen.de/h/apb/">Erstelle ein Issue.</a>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
    var tags = [
        {{ range .Subjects }}"{{.}}",{{ end }}
    ];
    $("#subject").autocomplete({
        source: tags
    });
});
</script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{{ end }}
