{{define "template"}}<!DOCTYPE html>
<html>
    <head>
        <title>Abgabepartnerbörse</title>
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <h2>apb</h2>
                <small>Finde den Abgabepartner deiner Träume</small>
            </div>
            <div class="header">
                <div class="title">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
            <div class="sidebar">
                <b class="sidebar-title">Inhalte auf dieser Seite</b>
                <div class="sidebar-element">
                    <a href="/">Suche</a>
                </div>
                <div class="sidebar-element">
                    <a href="/delete">Lösche deine Anzeige</a>
                </div>
                <div class="sidebar-element">
                    <a href="/data">Datenschutzerklärung</a>
                </div>
                <div class="sidebar-element">
                    <a href="/info">Info</a>
                </div>
            </div>
            <div class="main">
                {{ template "content" . }}
            </div>
        </div>
    </body>
</html>
{{end}}
